<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../static/index.js"></script>
    <title>Harambee University</title>
  </head>
  <body>
    <h1>Welcome to Harambee University</h1>
    <form onsubmit="return false;" method="POST" name="newStudent">
      <input type="text" name="firstName" placeholder="First name" required />
      <input type="text" name="lastName" placeholder="Last name" required />
      <input
        type="number"
        min="2022"
        max="2026"
        step="1"
        name="classYear"
        value="2026"
        required
      />
      <input type="submit" value="Submit" onclick="addStudent()" />
    </form>

    <div class="students"></div>
  </body>
</html>
